@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Potta+One&family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&display=swap');

@import "tailwindcss";

@theme {
  --font-titles: "Potta One";
  --font-text: "Newsreader";
  --font-headings: "Luckiest Guy";
  --font-subheadings: "Rampart One";
  --font-barcode: "Libre Barcode 39 Text";

  --color-white: #fef8ecff;
  --color-light-yellow: #fede5dff;
  --color-yellow: #ffb81fff;
  --color-gray: #5b5754ff;
  --color-silver: #a8a49fff;
  --color-green: #004009ff;
  --color-black: #0d0a08ff;
  --color-light-green: #2e7148ff;
  --color-red: #7E1A1A;

  --my-shadow: 0 2px 3px 2px rgba(0,0,0,0.50)
}

/* NAV BAR */
.nav-rotated {
    font-size: xx-large;
    margin-right: 0.75em;
    cursor: pointer;
    transform: rotate(90deg);
    transition: transform 0.3s ease;

}

.nav-not-rotated {
    font-size: xx-large;
    margin-right: 0.75em;
    cursor: pointer;
    transform: rotate(0deg);
    transition: transform 0.3s ease;
}

